.navbar {
    display: flex   ;
    flex-flow: row wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.nav-items {
    display: flex;
    color: white;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav-item {
    margin: 2rem 1rem;
    font-size: xx-large;
}