.email-form {
    z-index: 3;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 75%;
    font-family: 'Courier New', Courier, monospace;
}

.contact-input {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    margin: 1%;
}

.submit-btn {
    border-radius: 20px;
    height: 5%;
    width: 14%;
    background-color: black;
    color: white;
    margin-top: 1rem;
}

.contact-input label {
    font-weight: bold;
}

.header {
    margin-bottom: 2rem;
}