.contact-section {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../images/contact.jpg");
    background-color: #cccccc;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}